.fields-section{
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.field-box{
  width: 234px;
  padding: 0 10px;
}

.container{
  margin-top: 20px;
}

.input-box{
  width: 214px;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.weeks-title{
  margin: 10px 0;
}

.buttons-section button{
  margin-right: 10px;
}

.label-box{
  flex-basis: 15%
}